
<h1 class="text-center">Notes</h1>
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-4 ">
			<h2>Enter note</h2>
			<%= render 'form', note: @note %>
		</div>
		<div class="col-md-6 -md-3">
			<h4>Notes</h4>
			<ul class="timeline notes_all">
        <%= render @notes %>
			</ul>
		</div>
	</div>
</div>
<%= render  "shared/footer" %>
<br>

